/* h1{
    color: #4B0082;
    background-color: yellowgreen;
} */

 body {
            font-family: Arial, sans-serif;
            background: #f7f7f7;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        button {
            padding: 10px 15px;
            background: #4B0082;
            border: none;
            color: white;
            border-radius: 6px;
            cursor: pointer;
        }
        button:hover {
            background: #6a0fbf;
        }
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            background: white;
            border-radius: 10px;
            overflow: hidden;
        }
        table th, table td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background: #4B0082;
            color: white;
        }